.home-main{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top:50px;
    
    
}

.home-left-panel{
    width: 350px;
    margin-right: 10px;
    background:linear-gradient(360deg,black,gray);
    color: white;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.home-right-panel{

    width: 100%;
    overflow-y: scroll;
    height: 750px;
    background:linear-gradient(120deg,black,gray);
    color: white;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
      

}

  
  
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}